<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Medecin</title>
    <link rel="stylesheet" type="text/css" href="medecin.css">
</head>
<body>
<h1>PAGE MEDECIN</h1>
<div>
    <form th:action="@{/search}" method="post">
        <label for="noAssuranceMaladie">Numéro d'assurance maladie :</label>
        <input type="text" id="noAssuranceMaladie" name="noAssuranceMaladie" required>
        <button type="submit">Rechercher</button>
    </form>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
